<h2>Add a new job</h2>
<%= form_with scope: :post, url: new_job_path, local: true do |f| %>
    <%= f.label :photo %><br>
    <%= f.text_field :photo %> <br>
    <%= f.label :company %><br>
    <%= f.text_field :company_name %> <br>
    <%= f.label :company_description %><br>
    <%= f.text_field :company_description %> <br>
    <%= f.label :employees %><br>
    <%= f.text_field :employees %> <br>
    <%= f.label :job_title %><br>
    <%= f.text_field :job_title %> <br>
    <%= f.label :skills %><br>
    <%= f.text_field :skills %> <br>
    <%= f.label :salary %><br>
    <%= f.text_field :salary %> <br>
    <%= f.submit "Create Job" %> <br>
<% end %>